{% extends "base.html" %}
{% block content%}
  <div class="col-lg-12 well">
    <div class="page-header">
      <h3>In this page, we'll provide some examples</h3>
    </div>
    <div class="col-md-11">
      <h5>Example I</h5>
      <p class="intro">Hover the mouse over a thumbnail image to switch the display for the right image. <br> Observe the difference between the images, then rate the image quality using the following rating scales:<br></p>
      <p class="cleartype">1&mdash;bad, 2&mdash;poor, 3&mdash;fair, 4&mdash;good, 5&mdash;excellent</p><br>
      <div class="row">
        <div class="col-md-6 centered">
          <div class="product-box">
            <img class="center-block" id='OriginImg' src="{{ url_for('static', filename='img/introduction/eg1.png') }}" alt="image for comparison" width="100%"/>
            <div class="urun-title">Source Image</div>
          </div>
        </div>
        <div class="col-md-6 centered">
          <div class="product-box">
            <img class="center-block" id='menuImg'   src="{{ url_for('static', filename='img/introduction/eg2.png') }}" alt="image for comparison" width="100%"/>
            <div class="urun-title" id="image2_title">Distorted Image</div>
          </div>
        </div>
      </div>
      <div><br></div>
      <div class="row">
        <div class="col-md-2">
          <div class="product-box">
            <img src="{{ url_for('static', filename='img/introduction/eg1.png') }}" id="image1" width="100%" alt="distored image 2" class="align-center img-responsive" onmouseover="onHover1();">
            <div class="urun-title">Source Image</div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="product-box">
            <img src="{{ url_for('static', filename='img/introduction/eg2.png') }}" id="image2" width="100%" alt="distored image 2" class="align-center img-responsive" onmouseover="onHover2();" style="border: 5px solid red;">
            <div class="urun-title">Distorted Image</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12"></div>
        <div class="col-md-12">
          <form class="form form-horizontal">
            <div class="col-md-12 question">
              <h6>Question A: How do you rate the <font color="EC6A4E"><i>geometric distortion </i></font>? (excellent &hArr; no distortion)</h6>
              <p class="intro">Hint: the geometry of the second image is severely distorted and the image quality is quite poor, so you may move the slide bar to 2.</p>
            </div>
            <div class="col-md-6  col-md-offset-1">
              <input name="distortion" id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="5" data-slider-step="0.1" data-slider-value="2" value="2"/>
            </div>
            <div class="col-md-6 col-md-offset-1 distribute">
              <div>Bad</div><div>Poor</div><div>Fair</div><div>Good</div><div>Excellent</div>
            </div>
            <div class="col-md-12 question">
              <h6>Question B: How do you rate the <font color="EC6A4E"><i>content coverage? </i></font></h6>
              <p class="intro">Hint: because the amount of the <font color="EC6A4E"> meaningful</font> contents is kept exactly (forget about the geometric distortion), therefore you may likely choose 5 for the content coverage.</p>
            </div>
            <div class="col-md-6  col-md-offset-1">
              <input name="distortion" id="ex2" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="5" data-slider-step="0.1" data-slider-value="5" value="5"/>
            </div>
            <div class="col-md-6 col-md-offset-1 distribute">
              <div>Bad</div><div>Poor</div><div>Fair</div><div>Good</div><div>Excellent</div>
            </div>
            <div class="col-md-12 question">
              <h6>Question C: How do you think of the <font color="EC6A4E"><i>overall image quality </i></font>?</h6>
              <p class="intro">Hint: in this question, you should consider both of  the geometric distortion (Question A) and content coverage (Question B). In the first glance, you may likely rate the overall image quality as 2.2 (This rating is not necessarily equal to the ratings in question A or B.).</p>
            </div>
            <div class="col-md-6  col-md-offset-1">
              <input name="distortion" id="ex3" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="5" data-slider-step="0.1" data-slider-value="2.2" value="2.2"/>
            </div>
            <div class="col-md-6 col-md-offset-1 distribute">
              <div>Bad</div><div>Poor</div><div>Fair</div><div>Good</div><div>Excellent</div>
            </div>
          </form>
        </div>
      </div>
      <br><br>
      <p class="cleartype">No need to stay too much time on each question.<br> Please answer the questions for each image within 15 seconds.</p>
      <div class="col-md-11 col-md-offset-1"><hr></div>
    </div>
    <div class="col-md-11">
      <h5>Example II</h5>
      <div class="row">
        <div class="col-md-6 centered">
          <div class="product-box">
            <img class="center-block" src="{{ url_for('static', filename='img/introduction/eg3.png') }}" alt="image for comparison" width="100%"/>
            <div class="urun-title">Source Image</div>
          </div>
        </div>
        <div class="col-md-6 centered">
          <div class="product-box">
            <img class="center-block"  src="{{ url_for('static', filename='img/introduction/eg4.png') }}" alt="image for comparison" width="100%"/>
            <div class="urun-title">Distorted Image</div>
          </div>
        </div>
      </div>
      <div><br></div>
      <p class="intro">In this example, the geometric structures look quite similar, so feel free to rate the geometric similarity to be 5. <br>However, too much useful contents are lost, therefore you rate the content coverage as 1. <br>The overall image quality can be rated as 1.5 considering geometry & content.</p>
      <p class="intro">In summary, your rating result will be: 5 (geometry)&mdash;1(content)&mdash;1.5(overall quality)</p>
      <div class="col-md-11 col-md-offset-1"><hr></div>
    </div>
    <div class="col-md-11">
      <h5>Example IV</h5>
      <div class="row">
        <div class="col-md-6 centered">
          <div class="product-box">
            <img class="center-block" src="{{ url_for('static', filename='img/introduction/eg5.png') }}" alt="image for comparison" width="60%"/>
            <div class="urun-title">Source Image</div>
          </div>
        </div>
        <div class="col-md-6 centered">
          <div class="product-box">
            <img class="center-block"  src="{{ url_for('static', filename='img/introduction/eg6.png') }}" alt="image for comparison" width="60%"/>
            <div class="urun-title">Distorted Image</div>
          </div>
        </div>
      </div>
      <div><br></div>
      <p class="intro">In this example,  the geometric similarity is rated as 5, because no geometric distortion can be perceived. <br> Content similarity is rated as 3.6, because most of the <font color="EC6A4E">important structures</font>, the Unazukin's face, exist in the second image. <br> In all, the overall image quality is rated as 4, because the image preserves the structure and most of the important contents.</p>
      <p class="intro">Therefore, your rating result will be: 5(geometry)&mdash;3.6(content)&mdash;4(overall quality)</p>
      <div class="col-md-11 col-md-offset-1"><hr></div>
    </div>
    <div class="col-md-11">
      <h5>Example IV</h5>
      <div class="row">
        <div class="col-md-6 centered">
          <div class="product-box">
            <img class="center-block" src="{{ url_for('static', filename='img/introduction/eg7.png') }}" alt="image for comparison" width="100%"/>
            <div class="urun-title">Source Image</div>
          </div>
        </div>
        <div class="col-md-6 centered">
          <div class="product-box">
            <img class="center-block"  src="{{ url_for('static', filename='img/introduction/eg8.png') }}" alt="image for comparison" width="100%"/>
            <div class="urun-title">Distorted Image</div>
          </div>
        </div>
      </div>
      <div><br></div>
      <p class="intro">In this example, the woman's face is badly distorted. However, the amount of the content is kept exactly. <br>Therefore, the rating result may be: 1.8(geometry)&mdash;5(content)&mdash;2(overall quality)</p>
    </div>
    <div class="col-md-11 col-md-offset-1"><hr></div>
    <div class="col-md-11">
      <h5>Example IV</h5>
      <div class="row">
        <div class="col-md-6 centered">
          <div class="product-box">
            <img class="center-block" src="{{ url_for('static', filename='img/introduction/eg9.png') }}" alt="image for comparison" width="100%"/>
            <div class="urun-title">Source Image</div>
          </div>
        </div>
        <div class="col-md-6 centered">
          <div class="product-box">
            <img class="center-block"  src="{{ url_for('static', filename='img/introduction/eg10.png') }}" alt="image for comparison" width="100%"/>
            <div class="urun-title">Distorted Image</div>
          </div>
        </div>
      </div>
      <div class="col-md-11 col-md-offset-1"><hr></div>
      <div><br></div>
      <p class="intro">In this example, the pose of the football player is badly distorted, whereas the important content&mdash;the face&mdash; is also cropped. <br>Therefore, the rating result may be: 1.2(geometry)&mdash;3(content)&mdash;1.6(overall quality)</p>
    </div>
    <div class="col-md-11 col-md-offset-1"><hr></div>
    <div class="col-md-11">
      <h5>Example IV</h5>
      <div class="row">
        <div class="col-md-6 centered">
          <div class="product-box">
            <img class="center-block" src="{{ url_for('static', filename='img/introduction/eg11.png') }}" alt="image for comparison" width="60%"/>
            <div class="urun-title">Source Image</div>
          </div>
        </div>
        <div class="col-md-6 centered">
          <div class="product-box">
            <img class="center-block"  src="{{ url_for('static', filename='img/introduction/eg12.png') }}" alt="image for comparison" width="60%"/>
            <div class="urun-title">Distorted Image</div>
          </div>
        </div>
      </div>
      <div class="col-md-11 col-md-offset-1"><hr></div>
      <div><br></div>
      <p class="intro">The woman's face is distorted poorly, whereas the facial area is cropped severely. <br>Therefore, the rating result may be: 2(geometry)&mdash;1.9(content)&mdash;1.4(overall quality)</p>
      <p class="intro">Note that the overall quality rating is not necessarily in between of the rating for geometry and content. (here, 1.4<2 and 1.4<1.9)</p><br>
    </div>
    <div class="col-md-11">
      <p class="cleartype">Most important, during the survey, your judging criterion should be consistent.</p>
    </div>
    <div class="col-lg-10">
      <br>
      <form method="POST" action="." class="form form-horizontal">
        {{ form.csrf_token }}
        <div class="col-md-5">
          <div class="form-group row">
            <div class="radio">
              <label class="checkbox">
                <input type="checkbox" id="termschk" name="consent" onclick="validate()">I've already understood the procedure and ready to go
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
              <button type="submit" id="sign_in" disabled="disabled" class="btn btn-block btn-primary">Confirm</button>
            </div>
          </div><br><br><br>
        </div>
      </form>
    </div>
  </div>
  <script>
  function validate() {
  var chk = document.getElementById('termschk');
  if(chk.checked)
  document.getElementById('sign_in').disabled = false;
  else
  document.getElementById('sign_in').disabled = true;
  }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.1.3/bootstrap-slider.min.js"></script>
  <script type="text/javascript">
  function onHover1()
  {
  $("#menuImg").attr('src', "{{ url_for('static', filename='img/introduction/eg1.png') }}");
  $('#image1').css('border', '5px solid red');
  $('#image2').css('border', '5px solid black');
  var container = document.getElementById('image2_title');
  container.innerHTML = 'Source Image';
  }
  function onHover2()
  {
  $("#menuImg").attr('src', "{{ url_for('static', filename='img/introduction/eg2.png') }}");
  $('#image2').css('border', '5px solid red');
  $('#image1').css('border', '5px solid black');
  var container = document.getElementById('image2_title');
  container.innerHTML = 'Distorted Image';
  }
  var slider1 = new Slider('#ex1', {
  tooltip: 'show',
  formatter: function(value) {
  return value;
  }
  });
  var slider2 = new Slider('#ex2', {
  tooltip: 'show',
  formatter: function(value) {
  return value;
  }
  });
  var slider3 = new Slider('#ex3', {
  tooltip: 'show',
  formatter: function(value) {
  return value;
  }
  });
  var value1 = slider1.getValue();
  var value2 = slider2.getValue();
  var value3 = slider3.getValue();
  </script>
{% endblock %}