{% extends "base.html" %}
{% block content%}
  <div class="col-lg-12 well">
    <div class="page-header">
      <h3>Please read the survey instructions carefully.</h3>
      <p>The instructions are <font color="EC6A4E">very important</font>. Please make sure you are fully aware of the survey procedures before you go on to complete the survey.</p>
    </div>
    <div class="col-lg-10">
      <h5>The objective of the survey</h5>
      <p>The luminance distortions for images, such as blurring and Gaussian noises, have been well studied in research. However, much less attentions have been focused on images that suffer from geometric distortions. </p>
      <p>In this survey, you will rate the image quality for distorted images. The survey lasts for about 15-20 min. Your effort is well appreciated because what you are doing contributes to a novel algorithm that prevents the similar time-consuming tasks in the future. &#128516</p><br>
      <h5>What's my part in it?</h5>
      <p>Well, we will ask you to rate the image quality for the distorted images with respect to the reference image. You will rate the quality according to the following criteria:</p>
      <ul>
        <li>geometrical distortion</li>
        <li>content coverage</li>
        <li>overall image quality considering the above two criterion</li>
      </ul>
      <br>
    </div>
    <div class="col-lg-10">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
          <div class="product-box">
            <img src="{{ url_for('static', filename='img/introduction/1.png') }}" id="image1" width="100%" alt="distored image 1" class="align-center img-responsive" >
            <div class="urun-title1">Original Image</div>
          </div>
        </div>
        <div class="col-md-5">
          <div id="imageContainer">
            <img src="{{ url_for('static', filename='img/introduction/2.png') }}" width="100%"  alt="distored image 2" />
            <img src="{{ url_for('static', filename='img/introduction/3.png') }}" width="100%"  alt="distored image 2" />
            <img src="{{ url_for('static', filename='img/introduction/4.png') }}" width="100%"  alt="distored image 2" />
            <img src="{{ url_for('static', filename='img/introduction/5.png') }}" width="100%"  alt="distored image 2" />
            <img src="{{ url_for('static', filename='img/introduction/6.png') }}" width="100%"  alt="distored image 2" />
            <img src="{{ url_for('static', filename='img/introduction/7.png') }}" width="100%"  alt="distored image 2" />
            <img src="{{ url_for('static', filename='img/introduction/8.png') }}" width="100%"  alt="distored image 2" />
            <img src="{{ url_for('static', filename='img/introduction/9.png') }}" width="100%"  alt="distored image 2" />
          </div>
          <div class="urun-title1">Distorted Image</div>
        </div>
      </div>
      <br><br>
    </div>
    <div class="col-lg-10">
    <h5>Technicalities</h5>
    <p>This survey is best viewed under high resolution screen (&ge;1024&times;768)<br>Please note that javascript should be enabled for the webpage to work correctly.</p>
    <p class="cleartype">For better experience, we recommend you to enter the full screen mode by pressing 'F11'</p>
    <p>That's it! You're good to go! &#128077;&#128077;</p>
    </div>
    <div class="col-lg-10">
    <br>
        <div class="col-md-5">
          <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
              <p><a class="btn btn-primary btn-block" href="{{ url_for('survey_2_next')}}" role="button">Next</a></p>
            </div>
          </div><br><br>
          </div>
      </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery/xfade2.js') }}"></script>
  {% endblock %}